* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container a, header .container li{
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 24px;
    margin-left: 8px;
    float: left;
}

header .container a{
    border-bottom: 2px solid #fff;
}

header{
    padding: 26px;
    background-color: #ccc;
}

#sobre-a-loja .container{
    display: flex;
    padding: 8px;
}

#produtos .container{
    padding: 8px;
}

.container h2{
    padding: 8px;
    margin-bottom: 16px;
    margin-top: 16px;
    border-bottom: 4px solid #ccc;
}

section div{
    padding-left: 8px;
}

.produtos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 26px;
}

article{
    margin: 8px;
}

article div{
    padding: 6px;
}

article button{
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    background-color: #dfdfdf;
}

article button:hover{
    background-color: #ececec;
    cursor: pointer;
}

.produtos li{
    list-style: none;
}

.produtos img{
    max-width: 200px;
}

footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

footer .container li{
    list-style: none;
    float: left;
    margin-left: 16px;
    margin-top: 4px;
}

footer .container img{
    width: 32px;
}

footer{
    background-color: #ccc;
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    #sobre-a-loja .container{
        display: block;
    }

    #sobre-a-loja .container img{
        width: 100%;
    }

    .produtos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 26px;
    }

    article button{
        display: block;
        max-width: 270px;
        width: 100%;
    }

    section div{
        padding-left: 0;
    }
}

@media screen and (max-width:640px) {
    #sobre-a-loja .container{
        display: block;
    }

    #sobre-a-loja .container img{
        width: 100%;
    }

    .produtos{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 26px;
    }

    article{
        margin-top: 26px;
    }

    article button{
        display: block;
        max-width: 270px;
        width: 100%;
    }

    section div{
        padding-left: 0;
    }
}

